body {
  background-image: url('../brick.jpg');
  background-size:cover;
}

.navbar-static-top {
  background-color: rgba(89, 82, 65, 0.8);
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
}

.content {
  background-color: rgba(255, 255, 255, 0.4);
  height: 800px;
  overflow: auto;
}

#events {
  margin: 0 120px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.8);
}

.popover {
  background-color: rgba(172, 207, 204, 0.6);
}

.popover-title {
  background-color: rgba(184, 174, 156, 0.6);
}

#add-event {
  margin: 10px;
}

.left {
  background-color: rgba(184, 174, 156, 0.6);
  height: 800px;
}

.authentication{
  margin-top: 100px;
}

#authentication-success {
  background-color: rgba(184, 174, 156, 0.9);
}

.right.col-md-2 {
  background-color: rgba(172, 207, 204, 0.6);
  height: 800px;
}

.well{
  text-align: center;
  margin-top: 100px;
  background: rgba(184, 174, 156, 0.7);
}

footer {
  background-color: rgba(138, 9, 23, 0.8);
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  color: white;
}
